

h1 {
    color: #800000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
        float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
 background-color: #f1948a;
}
table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Para colapsar los bordes */
}

table, th, td {
    border: 1px solid black; /* Añade bordes a la tabla */
    padding: 8px; /* Añade espacio dentro de las celdas */
    text-align: center; /* Centra el texto dentro de las celdas */
}


form {
    background-color: #fff; /* Fondo blanco para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centra el texto dentro del contenedor */
    display: flex;
    flex-direction: column; /* Alinea los elementos hacia abajo */
    align-items: center; /* Centra los elementos horizontalmente */
}

input {
    justify-content: center; /* Centra el formulario horizontalmente */
    width: 20%; /* Hace que los inputs ocupen todo el ancho disponible */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Bordes grises */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #f0f0f0; /* Color de fondo suave */
    align-items: center; /* Centra el formulario verticalmente */
}

button {
    width: 10%; /* Hace que los botones ocupen casi la mitad del ancho */
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button[type="reset"] {
        background-color: #dc3545; /* Color de fondo rojo para el botón de cancelar */
}
